<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Jacob's Homework 12</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
   <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Belly Button Biodiversity Dashboard</h1>
        <p>Use the interactive charts below to explore the dataset</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="well">
          <h5>SELECT Sample:</h5>
          <select id="selDataset"  onchange=" update(this.value)"></select> <!--onchange="optionChanged-->
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Sample MetaData</h3>
          </div>
          <div id="sample-metadata" class="panel-body"></div>
        </div>
      </div>
      <div class="col-md-5">
        <div id="pie"></div>
      </div>
      <div class="col-md-5">
        <div id="gauge"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="bubble"></div>
    </div>
  </div>


  <div id="line" ></div> <!--style="height: 600px; width: 600px;"-->
<script>

 var sample = 940
// var sample = document.getElementById("selDataset").value
  d3.json(`/samples/${sample}`).then(function(data) {

    dat3 = [{
      values: data.sample_values.slice(0,10),
      lables: data.otu_ids.slice(0, 10),
      hovertext: data.otu_labels.slice(0,10),
      type: 'pie',
      enumerated: false

    }]
 
    var layout3 = { 
    sort: false,
    margin: { t: 10, pad: 10 }
    }

    var LINE3 = document.getElementById('line');
    Plotly.plot(LINE3, dat3, layout3)
 

  })


function update(sample) {
  //document.getElementById("line").innerHTML = sample
  console.log(`/samples/${sample}`)
  d3.json(`/samples/${sample}`).then(function(data) {

dat3 = [{
  values: data.sample_values.slice(0,10),
  lables: data.otu_ids.slice(0, 10),
  hovertext: data.otu_labels.slice(0,10),
  type: 'pie',
 
  enumerated: false

}]

var layout3 = { 

sort: false,

margin: { t: 10, pad: 10 }
}

console.log(dat3)
var LINE3 = document.getElementById('line');
Plotly.plot(LINE3, dat3, layout3)
console.log(Plotly.plot(LINE3, dat3, layout3))


})
}
//console.log(dat)


</script>


function adjustValue1(value)
{
    Plotly.restyle('PlotlyTest', 'y', [[value]]);
}


var data = [{
  values: [19, 26, 55],
  labels: ['Residential', 'Non-Residential', 'Utility'],
  type: 'pie'
}];
 

</body>
   <script src="{{ url_for('static', filename='js/bonus.js') }}"></script>
   <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</html>
